# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
*.local

# Environment variables
.env
.env.local
.env.*.local

# Editor & OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Dependency directories
.pnpm-store/

